# Loop Assignment

1. Write a program to print n natural number in descending order using a while loop.

In [1]:
num = int(input("Enter the number = "))
while(num >=1):
    print(num)
    num-=1

Enter the number =  21

21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

2. Write a program that appends the square of each number to a new list.
Given x = [2, 3, 4, 5, 6, 7, 8]
Expected output
Result: [4, 9, 16, 25, 36, 49, 64]

In [4]:
list1 = [2, 3, 4, 5, 6, 7, 8]
ans = []

for x in list1:
    ans.append(x**2)

print(ans)

[4, 9, 16, 25, 36, 49, 64]

Write a program that appends the type of elements from a list.
Given x = [23, 'Python', 23.98]
Expected output
Result: [<class 'int'>, <class 'str'>, <class 'float'>]

In [5]:
list1 = [23, 'python', 23.98]
typelist = []

for x in list1:
    typelist.append(type(x))

print(typelist)

[<class 'int'>, <class 'str'>, <class 'float'>]

Question 4 - Write a program to filter even and odd numbers from a list.
Given x = [10, 23, 24, 35, 65, 78, 90]
Expected output
Even numbers: [10, 24, 78, 90] Odd numbers: [23, 35, 65]

In [7]:
list1 = [10, 23, 24, 35, 65, 78, 90]
eve = []
odd = []

for x in list1:
    if(x%2 == 0):
        eve.append(x)
    else:
        odd.append(x)

print(eve, odd)

[10, 24, 78, 90] [23, 35, 65]

Question 5 : Python program to convert the month name to a number of days

In [ ]:
month = input("Enter month name: ").lower()

if month in ("january", "march", "may", "july", "august", "october", "december"):
    print("31 days")
elif month in ("april", "june", "september", "november"):
    print("30 days")
elif month == "february":
    print("28 or 29 days")
else:
    print("Invalid month name")

Question 6 : Python program that accepts a word from the user and reverses it.

In [17]:
word = input("Enter the word")
realstr = []

for x in word:
    realstr.append(x)

le = len(realstr)
reverse = " "
while(le>=1):
    reverse = reverse + realstr[le - 1]
    le -= 1
print(reverse)

Enter the word sahil

 lihas

Question 7 : Python program to count the total number of digits in a number.

In [19]:
num = int(input("Enter your number = "))
count = 0
while(num != 0 ):
    num = int(num / 10)
    count += 1

print(count)

Enter your number =  2333

4

Question 8 : Find the factorial of a given number.

In [20]:
num = int(input("Enter your number = "))
fac = 1
while(num >= 1):
    fac = fac * num
    num -= 1

print(fac)

Enter your number =  5

120

Question 9 :Write a program to calculate the sum of series up to n term. For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [32]:
num = 5
sum = 0
for x in range(5):
    val = 0
    for y in range(x+1):
        val = val + 2 * (10**y)
    print(val)
    sum = sum + val


print("sum" , sum)

2
22
222
2222
22222
sum 24690

Question : 10 Write a program to display all prime numbers within a range between 25 and 50.

In [33]:
for x in range(25, 51):
    flag = False
    for y in range(2, x):
        if(x % y == 0):
            flag = True

    if(flag == False)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49