# String Assignment

1) Python program to print even length words in a string
Input:
s = "This is a python language"
Output:
This is python language

In [3]:
str1 = "This is a python language"
list1 = str1.split()
listeven = []
for x in list1:
    if(len(x)%2 == 0):
        listeven.append(x)


finalstr = " ".join(listeven)
print(finalstr)

This is python language

2) Python program to check if a string has at least one letter and one number
Input:
welcome2ourcountry34
Output:
True

In [4]:
str2 = "welcome2ourcountry34"
if(str2.isalnum()):
    print(True)

else:
    print(False)

True

3) Python program to find Frequency of numbers in String
Output:
The original string is : pythonfor data analyst is No. 1 4 python
Count of numerics in string : 2

In [7]:
str3 = "pythonfor data analyst is No. 1 4 python"
count = 0

for x in str3:
    if x.isdigit():
        count += 1

print(count)

2

4) Write a program to Swap commas and dots in a String
Input:
14,625,498.002
Output:
14.625.498,002

In [11]:
str4 = "14,625,498.002 "

str4.replace(",", "hello")
str4.replace(".", ",")
str4.replace("hello", ".")

'14,625,498.002 '

In [12]:
str4 = "14,625,498.002 "

str4 = str4.replace(".", "TEMP")  # Step 1: Temporarily replace '.'
str4 = str4.replace(",", ".")     # Step 2: Replace ',' with '.'
str4 = str4.replace("TEMP", ",")  # Step 3: Replace TEMP back with ','

print(str4)

14.625.498,002

5) Calculate the sum and average of the digits present in a string
Input:
input_str = "Datapython29@!8496"

Output:
Sum is: 38 Average is 6.333333333333333

In [15]:
str4 = "Datapython29@!8496"
count = 0
sum1 = 0
for x in range(len(str4)):
    if(str4[x].isdigit()):
        sum1 = sum1 + int(str4[x])
        count+=1

avg = sum1/count
print(avg)

6.333333333333333

6) Count all letters, digits, and special symbols from a given string
Input: "A@un2st&#5ve"
Output:
Chars = 8 Digits = 2 Symbol = 3

In [18]:
str1 = "A@un2st&#5ve"
chars = 0
digits = 0
symbol = 0

for x in range(len(str1)):
    if(str1[x].isalpha()):
       chars += 1
    elif(str1[x].isdigit()):
        digits += 1
    else:
        symbol += 1

print(chars, digits, symbol)

7 2 3

In [25]:
str3 = input("Enter the string = ")
print(str3[::-1])

Enter the string =  hello

olleh